<!-- about.component.html -->
<div class="about-container">
    <h2>Om uppgiften</h2>
    
    <section class="arbetsprocess">
      <h3>Arbetsprocess</h3>
      <p>
        Jag började med att skapa en ny Angular-applikation med Angular CLI. 
        Sedan strukturerade jag projektet i tre komponenter: home, convertersida och about. 
        För navigering mellan sidorna använde jag Angular Router med RouterLink.
      </p>
      <p>
        Konverteringsfunktionaliteten implementerade jag med Two-Way Data Binding och FormsModule. 
        Responsiv design löste jag med CSS Flexbox och media queries.
      </p>
    </section>
  
    <section class="tekniska-val">
      <h3>Tekniska val</h3>
      <ul>
        <li>Använde Angular CLI för projektgenerering</li>
        <li>SCSS för styling med modulär struktur</li>
        <li>Standalone Components för bättre kodorganisation</li>
        <li>Git för versionshantering</li>
      </ul>
    </section>
  
    <section class="utmaningar">
      <h3>Utmaningar</h3>
      <ul>
        <li>Hantering av beroenden mellan komponenter</li>
        <li>Integrera komponenter och identifiera  fel.</li>
        <li>Jag försökte med optimerad deployment till GitHub Pages, men det fungerade inte, så jag publicerade webbplatsen med Netlify istället.</li>
      </ul>
    </section>
  
    <section class="slutsatser">
      <h3>Slutsatser</h3>
      <ul>
        <li>Angular erbjuder en robust struktur för webbutveckling</li>
        <li>Komponentbaserad arkitektur underlättar återanvändning</li>
        <li>Typescript ger typsäkerhet och bättre kodkvalitet</li>
      </ul>
    </section>
  </div>
